.card {
  height: 65px;
  width: 100%;
  background: goldenrod;

  &:hover {
    background: red;
    transform: perspective(10px);
    transform: scaleX(1.05);
    transition: transform 0.2s;
  }

  &.-activeCard {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    background: darkgoldenrod;
    transition: top 10s;

    .card__content {
      display: block;
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 65px;
    font-size: 24px;
    text-align: center;
  }

  &__content {
    font-size: 14px;
    text-align: center;
    color: white;
    display: none;
  }

  &__link {
    color: white;
  }
}
