.card {
  height: 65px;
  width: 100%;
  background: $color_gold;
  border: transparent;
  outline: none;
  margin-bottom: $space_xxxSmall;

  &:hover {
    background: $color_red;
    transform: scaleX(1.05) perspective(10px);
    transition: transform 0.2s;
  }

  &.-activeCard {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: $color_gold;
    transition: top 10s;

    .card__content {
      display: block;
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 65px;
    font-size: $font_medium;
    text-align: center;
  }

  &__content {
    font-size: $font_xSmall;
    text-align: center;
    color: $color_white;
    display: none;
  }

  &__link {
    color: $color_white;
  }
}
