.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
  }

  &__name {
    margin: 0;
    font-size: 24px;
    color: red;
  }

  &__work {
    margin-top: 0;
    font-size: 16px;
  }

  &__paragraph {
    max-width: 70%;
    font-size: 12px;
    text-align: center;
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;

    &--type > a {
      height: 25px;
      width: 25px;
      border-radius: 999px;
      color: red;
    }
  }

  &__image {
    height: 120px;
    width: 120px;
    border-radius: 999px;
    background: no-repeat center center;
    background-size: cover;
  }
}
