.project {
  background: #fff;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  transition: height 1s;
  border-radius: 5px;
  border: 5px solid white;
  overflow: hidden;
  margin-left: -5px;

  &.-active {
    //height: 100%;
    height: 325px;
    position: relative;
    overflow-y: auto;
  }
}
